@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#card {
  background-color: #ffffff0b;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  height: fill;
  border-color: #ffffff12;
  border-style: solid;
  border-width: 1px;
}
#card:hover{
  background-color: #ffffff06;
  transition: 700ms;
}
#features-hover{
  height : 320px;
}
#company-hover{
  height : 184px;
}
#card-text{
  color: rgb(174, 174, 174);
}
/*#card-text:hover{
  color: whitesmoke;
}*/
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#button{
    background: #FFFFFF;
    transition : '0.5s';
    box-shadow: 0 0 0 1px #eeeeee0f;
    display: 'block';
}
#button:hover{
  background: #EEEFEF;
}

#button_secondary{
  background: black;
  color: whitesmoke;
  box-shadow: 0 0 0 1px #eeeeee3B;
}
#button_secondary:hover{
  background: #3c3c3c4A;
  color: white;
}

/* ScrollBar Customisation */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #49494913;
  height: 3px
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #232323;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#hero-image{
  transform: rotateY(-30deg) rotateZ(-6deg) rotateX(-38deg);
}

#BlCard{
  background-color: #08090a;
  color: #FFF;
  height: max-content;
  border-radius: 28px;
  padding-bottom: 28px;
}

#BlCrad:hover{
  filter: blur(2px);
}

#carrousel_card{
  background: rgba(40,40,40,0.4);
}